# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build Artifacts
build/
dist/
*.spec

# Save files and backup testing directories
*.sav
*.bak
temp_io/
scratch/
failedEdits/
uploadSavFiles/
releases/

# IDE / OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
